.bg_color{
    background-color: #f0f0f0;
}.container {
  padding: 20px;
}

.spinner {
  margin-top: 15px;
  width: 30px;
  height: 30px;
  border: 4px solid #ccc;
  border-top: 4px solid #1976d2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
